/* Header */
.large-header {
    position: relative;
    width: 100%;
    //background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  
  //#large-header {
   // background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
  //}
  
$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$cut: 550px;

  .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }
  
  .demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
  }
  
  .main-title .thin {
    font-weight: 200;
  }
  
  @media only screen and (max-width : 768px) {
    .demo-1 .main-title {
      font-size: 3em;
    }
  }


  #particles-js {
    background: $main;
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .particles-js-canvas-el {
      width:100% !important;
      height:100vh !important;
    }
  }
  
  .header {
    z-index: 1;
    text-align: center;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .site-title {
      font-size: 50px;
      display: block;
      line-height: 1;
      color: #FFF;
      @media only screen and (min-width:$cut){
        margin: 0;
        font-size: 100px;
      }
    }
    .site-description {
      font-size: 20px;
      display: block;
      line-height: 1;
      color: #FFF;
      margin-top: 10px;
      @media only screen and (min-width:$cut){
        font-size: 40px;
      }
    }
  }
  
  .header-links {
    margin: 10px;
    .link {
      color: #FFF;
      text-decoration: none;
      font-size: 15px;
      margin: 10px;
      @media only screen and (min-width:$cut){
        font-size: 20px;
      }
    }
  }
  
  .header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    .icon {
      text-align: center;
      color: #FFF;
      width: 20px;
      height: 20px;
      font-size: 20px;
      padding: 10px;
      margin: 5px;
      border-radius: 50%;
      border: 2px solid #FFF;
      transition: all .7s;
      &:hover {
        color: $main;
        background: #FFF;
      }
      &:active {
        color: $main;
        background: #FFF;
      }
      @media only screen and (min-width:$cut) {
        width: 35px;
        height: 35px;
        font-size: 35px;
      }
    }
  }
  
  .down {
    color: #FFF;
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    .icon {
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        fill: #fff;
        -webkit-animation: pulse 1.3s infinite;
        animation: pulse 1.3s infinite;
        &:hover {
          color: $sec;
        }
        &:active {
          color: $sec;
        }
    }
  }

  .skils{
    background-color: #202020;
    color: white;
    width: 21rem;
    text-align: center;
    border-radius: 3rem;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-right: 8px;
    &-interface{
      padding: 0;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
  }
.competence p {
  width: 100%;
}
  .round-green {
    border-radius: 20px;
    background: green;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 1rem;
    top: 24%;
  }



.repo {
  box-shadow: 4px 3px 8px 0 #24222238;
  background-color: #2a2a72;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 1.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}


// Medium devices (tablets, 768px and up)
  //@media (min-width: 768px) { ... }
  
  // Large devices (desktops, 992px and up)
 // @media (min-width: 992px) { ... }
  
  // Extra large devices (large desktops, 1200px and up)
 // @media (min-width: 1200px) { ... }
