@import './vendors/bootstrap.scss';

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';
@import './components/canvas';
@import './components/textFill';
@import './layout/footer';
@import './layout/sections';
@import './layout/canvasColor';


@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';


@media (min-width: 992px) { 
    h1 {
        font-size: 24px !important;
        } 
        .d-flex.justify-content-center {
        margin-bottom: 40px !important;
    }

}

@media (max-width: 576px) { 
    .btn-header {
        display: block !important;
        }
        .cta-btn.cta-btn--hero {
            width: 177px;
        }
        .canvas-btn {
            margin-right: 0px !important;
            margin-left: 0px  !important;
        }
 }
